@text: #9a9a9a;

.wrapper {
  width: 1024px;
  margin: 0 auto;
  padding: 50px 0;
  height: calc(~"100% - 100px");

  .top {
    .header {
      text-align: center;

      .top {
        .logo {
          a {
            display: block;

            img {
              width: 177px;
              height: 21px;
            }
          }
        }
      }
      .bottom {
        .description {
          p {
            color: @text;
            font-size: 15px;
            font-family: "Helvetica Neue Regular", "Arial", sans-serif;
          }
        }
      }
    }
  }
  .middle {
    padding: 50px 0;

    .files {
      width: 400px;
      height: 200px;
      margin: 0 auto;
      text-align: center;
      background-color: #f7f7f7;

      span {
        color: @text;
        font-size: 13px;
        text-align: center;
        line-height: 200px;
      }
    }
  }
  .bottom {
    .footer {
      .copyright {
        text-align: center;

        a {
          font-size: 18px;

          i {
            color: black;
          }
        }
      }
    }
  }
}