.wrapper {
  width: 1024px;
  margin: 0 auto;
  padding: 50px 0;
  height: calc(100% - 100px);
}
.wrapper .top .header {
  text-align: center;
}
.wrapper .top .header .top .logo a {
  display: block;
}
.wrapper .top .header .top .logo a img {
  width: 177px;
  height: 21px;
}
.wrapper .top .header .bottom .description p {
  color: #9a9a9a;
  font-size: 15px;
}
.wrapper .middle {
  padding: 50px 0;
}
.wrapper .middle .files {
  width: 400px;
  height: 200px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  border: 3px dashed #c1c1c1;
  background-color: transparent;
}
.wrapper .middle .files .desc {
  text-align: center;
  line-height: 200px;
}
.wrapper .middle .files .desc span {
  color: #9a9a9a;
  font-size: 13px;
}
.wrapper .middle .files .form {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}
.wrapper .bottom .footer .copyright {
  text-align: center;
}
.wrapper .bottom .footer .copyright a {
  font-size: 18px;
}
.wrapper .bottom .footer .copyright a i {
  color: black;
}
