.wrapper {
  width: 1024px;
  margin: 0 auto;
  padding: 50px 0;
  height: calc(100% - 100px);
}
.wrapper .top .header {
  text-align: center;
}
.wrapper .top .header .top .logo a {
  display: block;
}
.wrapper .top .header .top .logo a img {
  width: 177px;
  height: 21px;
}
.wrapper .top .header .bottom .description p {
  color: #9a9a9a;
  font-size: 15px;
  font-family: "Helvetica Neue Regular", "Arial", sans-serif;
}
.wrapper .middle {
  padding: 50px 0;
}
.wrapper .middle .files {
  width: 400px;
  height: 200px;
  margin: 0 auto;
  text-align: center;
  background-color: #f7f7f7;
}
.wrapper .middle .files span {
  color: #9a9a9a;
  font-size: 13px;
  text-align: center;
  line-height: 200px;
}
.wrapper .bottom .footer .copyright {
  text-align: center;
}
.wrapper .bottom .footer .copyright a {
  font-size: 18px;
}
.wrapper .bottom .footer .copyright a i {
  color: black;
}
